@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.currency {
  display: flex;

  margin: 0;
  border: 0;
  padding: 0;
}

.currency__title {
  flex-basis: 100%;
  flex-wrap: wrap;

  margin-bottom: 22px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: $basic-black-color;
}

.currency__wrapper {
  margin: 0;

  &--amount {
    margin-right: 15px;
  }
}

.currency__amount {
  width: 390px;
  height: 60px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: rgba(0, 0, 0, 1);

  text-align: center;

  border: 1px solid $basic-black-color;
  box-sizing: border-box;
  border-radius: 4px;
}

.currency__name-label {
  display: block;
  position: relative;
  width: 120px;
  height: 60px;

  &::after {
    position: absolute;
    top: 21px;
    right: 19px;
    content: '';
    width: 10px;
    height: 10px;
    border-bottom: 2px solid $basic-black-color;
    border-left: 2px solid $basic-black-color;
    transform: rotate(-45deg);
    pointer-events: none;
  }
}

.currency__name {
  appearance: none;

  width: 100%;
  height: 100%;

  font-family: Roboto, sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  color: rgba(0, 0, 0, 1);

  padding-left: 16px;
  border: 1px solid $basic-black-color;
  box-sizing: border-box;
  border-radius: 4px;
}
